<% if notice.present? %>
  <div class="alert alert-success" role="alert" div style="color: green;">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger" role="alert" div style="color: red;">
    <%= alert %>
  </div>
<% end %>
